/* Add your CSS module styles here */
.login-container {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  overflow: hidden;
}

.login-card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  padding: 32px;
  width: 100%;
  max-width: 400px;
}

.login-heading {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 24px;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.input-container {
  position: relative;
}

.input-field {
  width: 100%;
  padding: 12px 16px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 16px;
  color: #333;
  padding-left: 36px; /* Space for icon */
}

.input-field:focus {
  border-color: #9B4DCA;
  outline: none;
}

.input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  color: #aaa;
}

.submit-btn {
  background-color: #9B4DCA;
  color: white;
  padding: 12px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  border: none;
}

.submit-btn:hover {
  background-color: #7a34a0;
}

.divider-container {
  position: relative;
  margin: 24px 0;
}

.divider {
  border-top: 1px solid #ddd;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
}

.or-text {
  position: relative;
  top: -12px;
  text-align: center;
  font-size: 14px;
  color: #777;
  background: white;
  padding: 0 8px;
}

.google-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #6D2E46;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.google-btn:hover {
  scale: 1.01;
  transition: all 0.3s ease;
}

.google-icon {
  margin-right: 10px;
}

